@charset "utf-8";

html, body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul, ol {
	padding: 0;
	margin: 0;
}

/*
	--------- 엘리먼트 수정 -----------
*/
#top_right {
	float: left;
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
}
#logo {
	
}

.members {
	line-height: 40px;
	vertical-align: middle;
}

.row {
	display: inline;
}

#loopy {
	width: 70px;
	height: 80px;
}

#topMenu {
	height: 70px;
	width: 1300px;
}

#topMenu ul li {
	list-style: none;
	color: white;
	background-color: green;
	float: left;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}

#topMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	font-size: 13px;
	font-weight: bold;
	font-family: Georgia, "Malgun Gothic", cursive;
}

#topMenu .menuLink:hover {
	color: yellow;
	background-color: #4d4d4d;
}